html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.flexBotHoriz {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  height: 100%;
}

.flexBotVert {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.titlebar {
  flex: 0 0 30px;
  background-color: #535353;
}

#topBarOuter {
  flex: 0 0 50px;
  background-color: #323232;
}

#bottomBarOuter {
  flex: 0 0 25px;
  background-color: #a04425;
}

#workspaceOuter {
  flex: 1 1 auto;
  background-color: #111;
}

#elementsOuter {
  flex: 0 0 200px;
  height: 100%;
}

#canvasOuter {
  flex: 1 1 auto;
  height: calc(100% - 105px);
}

#panelOuter {
  flex: 0 0 300px;
  height: 100%;
}

#panelInner {
  height: 100%;
}

#layersOuter {
  flex: 1 0 auto;
}

#parametersOuter {
  flex: 0 0 300px;
  min-height: 300px;
}

div .panelSectionHeader {
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  border-color: #323232;
}

div.vertSlider {
  flex: 0 0 5px;
  border-bottom: 1px solid #323232;
  /* border-color: #323232; */
  /* background-color: #323232; */
}

div.box {
  background-color: aqua;
  padding: 0 px;
}

div.sidebarInner {
  margin: 15px;
}

div.scroll {
  flex: 0 0 8px;
  background-color: #323232;
  padding: 0px;
}

div.sidebar {
  background-color: #1e1e1e;
}

#elementsListOuter {
  flex: 1;
  display: flex;
  overflow-y: auto;
  margin-right: -15px;
  padding-top: 5px;
}

.scollableDiv {
  min-height: -webkit-min-content;
  display: flex;
  overflow-y: scroll;
}

h3 {
  display: block;
  color: #e3e3e3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7em;
}

/* Scrollbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
