::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: inherit;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-thumb:active:hover {
  background-color: #444;
}
.resize-ew {
  cursor: ew-resize;
}
.resize-ns {
  cursor: ns-resize;
}
.fullSize {
  width: 100%;
  height: 100%;
}
.flexBotHoriz {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
.flexBotVert {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.vertSlider {
  cursor: ns-resize;
  flex: 0 0 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 2px solid #111;
}
.horizSlider {
  cursor: ew-resize;
}
.flexFixed {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}
.flexGrow {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.flexShrink {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
.flexAuto {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.scroll {
  overflow-y: auto;
  margin-right: 4px !important;
  padding-right: 1px !important;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
}
#bottomBar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  flex-basis: 25px;
  background-color: #a04425;
}
#appWrapper {
  height: 100%;
  width: 100%;
}
#dragTitlebar-flexHorizontal {
  user-select: none;
  -webkit-app-region: drag;
}
.panel {
  background-color: #1e1e1e;
  min-width: 200px;
  max-width: 600px;
  flex-basis: 150px;
  z-index: 5;
}
.panel .panel-inner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.panelHeader {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  user-select: none;
  flex-basis: 20px;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 4px;
  padding: 5px;
  padding-left: 15px;
  border-bottom: 1px solid #535353;
}
.panelSection {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 4px;
  min-height: 100px;
  visibility: visible;
}
.sliderVertical {
  cursor: ew-resize;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  flex-basis: 8px;
  height: 100%;
  border-bottom: 1px #111 solid;
}
.panelContainer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  height: 0px;
  min-height: 200px;
}
.sliderHorizontal {
  cursor: ns-resize;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  flex-basis: 5px;
  border-bottom: 2px #111 solid;
  z-index: 5;
}
.canvas {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #111;
  z-index: 2;
}
.flexHorizontal {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
}
.flexHorizontal-inner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
.bar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  background-color: #323232;
  z-index: 6;
}
.bar .bar-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
.button {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  user-select: none;
  cursor: pointer;
}
.button .button-icon {
  display: table;
  margin: 0 auto;
  transition-duration: 0.4s;
  transition-property: color;
  transition-timing-function: ease;
}
.button .button-icon:hover {
  transition-duration: 0.1s;
  transition-property: color;
  color: #ffffff !important;
}
.flexVertical {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.menu {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  display: flex;
  justify-content: center;
}
.menu .menu-inner {
  display: flex;
  align-items: center;
}
.menu:hover {
  background-color: #555;
  user-select: none;
}
h3 {
  display: block;
  color: #e3e3e3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h4 {
  display: block;
  color: #e3e3e3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}
p {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7em;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/src/less/fonts/Material_Icons.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/src/less/fonts/Material_Icons_Outlined.woff2) format('woff2');
}
.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* fallback */
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(/src/less/fonts/Material_Icons_Rounded.woff2) format('woff2');
}
.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.md-18 {
  font-size: 18px;
}
.md-24 {
  font-size: 24px;
}
.md-36 {
  font-size: 36px;
}
.md-48 {
  font-size: 48px;
}
/* Rules for using icons as black on a light background. */
.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
/* Rules for using icons as white on a dark background. */
.md-light {
  color: #ffffff;
}
.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
/*# sourceMappingURL=main.css.map */